ul li a {
  padding-bottom: 5px;
}

.date_header {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f24122), to(#9b160f));
  color: #fff;
}
.event_list, 
.event {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#ccc));
}

.toolbar {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#999), to(#000));  
}

span.small_subinfo {
  font-size: 0.7em;
  color: #999;
  padding-bottom: 5px;
  display: block;
  float: left;
}

span.with_date {
  color: red;
  float: right;
  padding-right: 20px;
}

span.event_title {
  margin-bottom: 5px;
  display: block;
  padding-right: 20px;
  white-space: normal;
}

p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.event p {
  padding-left: 10px;
  padding-right: 10px;
}

#loadMoreBtn.disabled {
  display: none;
}

.logo {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

#progress {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: rgba(0,0,0,.7);
    color: white;
    font-size: 18px;
    font-weight: bold;
    height: 80px;
    left: 50%;
    line-height: 80px;
    /*margin: 0 auto;*/
    margin-left: -100px;
    position: absolute;
    text-align: center;
    top: 120px;
    width: 200px;
    /*display: inline-block;*/
}

.hide
{
  display: none;
}
