ul li a {
  padding-bottom: 5px;
}

.date_header {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f24122), to(#9b160f));
  color: #fff;
}
.event_list, 
.event {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#ccc));
}

.toolbar {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#999), to(#000));  
}

span.small_subinfo {
  font-size: 0.7em;
  color: #999;
  padding-bottom: 5px;
  display: block;
  float: left;
}

span.with_date {
  color: red;
  float: right;
  padding-right: 20px;
}

span.event_title {
  margin-bottom: 5px;
  display: block;
  padding-right: 20px;
  white-space: normal;
}

p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.event p {
  padding-left: 10px;
  padding-right: 10px;
}

#loadMoreEvents.disabled {
  display: none;
}

.logo {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
