<!doctype html>
<!--<html lang="nb" manifest="manifest.php">-->
<html lang="nb">
  <head>
    <meta charset="utf-8">
    <title>Kvarteret Events</title>
    <meta name="description" content="">
    <meta name="author" content="Webgruppen - Kvarteret">
    <!-- <script src="debug.js" type="application/x-javascript" charset="utf-8"></script> -->
    <script src="jquery.min.js" type="application/x-javascript" charset="utf-8"></script>
    <script src="json.js" type="application/x-javascript" charset="utf-8"></script>
    <script src="jquery.tmpl.js" type="application/x-javascript" charset="utf-8"></script>
    <script src="jquery.offline.js" type="application/x-javascript" charset="utf-8"></script>
    <script src="jqtouch/jqtouch.min.js" type="application/x-javascript" charset="utf-8"></script>
    <script src="jqtouch/jqtouch.transitions.js" type="application/x-javascript" charset="utf-8"></script>
    <script src="application.js" type="application/x-javascript" charset="utf-8"></script>
    <style type="text/css" media="screen">@import "jqtouch/jqtouch.css";</style>
    <style type="text/css" media="screen">@import "jqtouch/themes/kvarteret/theme.css";</style>
    <style type="text/css" media="screen">@import "application.css";</style>
    <!--<meta name="apple-mobile-web-app-capable" content="yes" />-->
  </head>
  <body>
    <div id="home" class="current">
      <div class="toolbar">
        <a class="button" id="refreshEvents" href="#">Refresh</a>
        <h1>Fremtidige events</h1>
      </div>
      <script type="text/html" id="item_template">
        <li class='event_list arrow'>
          <a href='#event_${id}' id='${id}'>
            <span class="event_title">${title}</span>
            <span class="small_subinfo">
            {{each categories}}
              ${$value.name}{{if $index < categories.length-1}}, {{/if}}
            {{/each}}
            i {{if location_id > 0}} ${commonLocation.name} {{else}} ${customLocation} {{/if}}
            </span>
            <span class="small_subinfo with_date">
              ${formatTime(startTime)}
            </span>
          </a>
        </li>
      </script>
      <ul id="items" class="rounded">
        <li class="arrow"><em>Laster events...</em></li>
      </ul>
      <ul class="individual">
        <li style="width: 100%;"><a id="loadMoreEvents" href="#">Last flere...</a></li>
      </ul>
    </div>
    <script type="text/html" id="event_template">
      <div id='event_${id}' class="event">
        <div class="toolbar">
          <h1>${title}</h1>
          <a class="button back" href="#">Tilbake</a>
        </div>
        <p class="event_details">
        <b>Når:</b>
        {{if startDate == endDate}}
          ${formatDate(startDate)} ${formatTime(startTime)} til ${formatTime(endTime)}
        {{else}}
          ${formatTime(startTime)} - ${formatDate(startDate)} til ${formatTime(endTime)} - ${formatDate(endDate)}
        {{/if}}<br>
        <b>Hvor:</b> {{if location_id > 0}} ${commonLocation.name} {{else}} ${customLocation} {{/if}}
        </p>
        <p>{{html leadParagraph}}</p>
        {{html description}}
      </div>
    </script>
  </body>
</html>
